<a href="https://colab.research.google.com/github/jongjong2323/colab01/blob/main/4%EC%B0%A8_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas
Python에서 데이터 분석을 하기 위한 라이브러리로 데이터 읽어 들이기 및 편집, 통계량 표시 등을 간단하게 할 수 있습니다. 주요 코드는 Cython 또는 C언어로 쓰여 있으며, 고속으로 동작한다. 이에 pandas는 Python에 의한 데이터 분석 및 머신러닝에 많이 사용됨.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
a = pd.Series( [60,80,70,50,30], index=['Korean','English','Math','Science','History'])
print( type(a) )
print(a)

<class 'pandas.core.series.Series'>
Korean     60
English    80
Math       70
Science    50
History    30
dtype: int64

In [ ]:
a = pd.Series(np.array([60,80,70,50,30]),index=np.array(['Korean','English','Math','Science','History']) )
print( type(a) )
print(a)

<class 'pandas.core.series.Series'>
Korean     60
English    80
Math       70
Science    50
History    30
dtype: int64

In [ ]:
a = pd.Series({'Korean':60,'English':50,'Math':70,'Science':30,'History':40})
print( type(a) )
print(a)

<class 'pandas.core.series.Series'>
Korean     60
English    50
Math       70
Science    30
History    40
dtype: int64

In [ ]:
a=pd.Series([60,80,70,30,40], index=['Korean','English','Math','Science','History'])
print(a[2])
print(a['Math'])

70
70

In [ ]:
a=pd.Series([60,80,70,30,40], index=['Korean','English','Math','Science','History'])
b = pd.Series([20], index=['Art'])
a = a.append(b)
print(a)

Korean     60
English    80
Math       70
Science    30
History    40
Art        20
dtype: int64

<ipython-input-21-0ba281e05bad>:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a = a.append(b)

# DataFrame 작성

In [ ]:
a = pd.DataFrame([[80,60,70,True],
                  [90,80,70,True],
                  [70,60,50,True],
                  [40,60,50,False],
                  [20,30,40,False],
                  [50,20,10,False]])
print(a)

    0   1   2      3
0  80  60  70   True
1  90  80  70   True
2  70  60  50   True
3  40  60  50  False
4  20  30  40  False
5  50  20  10  False

In [ ]:
a.index = ["윤아","유은","아잉","카인","시범",'야팔']
a.columns = ["Korean","English","Math","Result"]
print(a)

    Korean  English  Math  Result
윤아      80       60    70    True
유은      90       80    70    True
아잉      70       60    50    True
카인      40       60    50   False
시범      20       30    40   False
야팔      50       20    10   False

In [ ]:
a.shape #행, 열

(6, 4)

In [ ]:
a.head() #첫 5행

    Korean  English  Math  Result
윤아      80       60    70    True
유은      90       80    70    True
아잉      70       60    50    True
카인      40       60    50   False
시범      20       30    40   False

In [ ]:
a.tail() #마지막 5행

    Korean  English  Math  Result
유은      90       80    70    True
아잉      70       60    50    True
카인      40       60    50   False
시범      20       30    40   False
야팔      50       20    10   False

In [ ]:
a.describe() #기본적인 통계량

          Korean    English       Math
count   6.000000   6.000000   6.000000
mean   58.333333  51.666667  48.333333
std    26.394444  22.286020  22.286020
min    20.000000  20.000000  10.000000
25%    42.500000  37.500000  42.500000
50%    60.000000  60.000000  50.000000
75%    77.500000  60.000000  65.000000
max    90.000000  80.000000  70.000000

# DataFrame 조작

In [ ]:
tr = a.loc['윤아', :] #데이터에서 Series데이터 꺼내기
print( type(tr) )
print(tr)

<class 'pandas.core.series.Series'>
Korean       80
English      60
Math         70
Result     True
Name: 윤아, dtype: object

In [ ]:
ma = a.loc[:,'English'] #데이터에서 열을 꺼내기
print(type(ma))
print(ma)

<class 'pandas.core.series.Series'>
윤아    60
유은    80
아잉    60
카인    60
시범    30
야팔    20
Name: English, dtype: int64

In [ ]:
r = a.iloc[1:4, :2] #데이터에서 범위를 지정해 꺼내기
print( type(r))
print(r)

<class 'pandas.core.frame.DataFrame'>
    Korean  English
유은      90       80
아잉      70       60
카인      40       60

In [ ]:
a.loc['카인'] = pd.Series([70,80,70,True], index=['Korean','English','Math','Result'], name='카인') #데이터 행 추가
print(a)

    Korean  English  Math  Result
윤아      80       60    70    True
유은      90       80    70    True
아잉      70       60    50    True
카인      70       80    70    True
시범      20       30    40   False
야팔      50       20    10   False

In [ ]:
a['Science'] = [80,70,60,50,40,10] #데이터 열 추가
print(a)

    Korean  English  Math  Result  Science
윤아      80       60    70    True       80
유은      90       80    70    True       70
아잉      70       60    50    True       60
카인      70       80    70    True       50
시범      20       30    40   False       40
야팔      50       20    10   False       10

In [ ]:
a.sort_values(by='Math',ascending=False) #데이터 정렬

    Korean  English  Math  Result  Science
윤아      80       60    70    True       80
유은      90       80    70    True       70
카인      70       80    70    True       50
아잉      70       60    50    True       60
시범      20       30    40   False       40
야팔      50       20    10   False       10

In [ ]:
import pandas as pd

# 데이터프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 22, 28, 35],
    'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
}

df = pd.DataFrame(data)

# 데이터프레임 출력
print("Original DataFrame:")
print(df)

# 특정 열 선택
ages = df['Age']
print("\nAges:")
print(ages)

# 조건에 맞는 행 선택
young_people = df[df['Age'] < 30]
print("\nYoung People:")
print(young_people)

# 새로운 열 추가
df['Country'] = ['USA', 'UK', 'France', 'Japan', 'Australia']
print("\nDataFrame with a New Column:")
print(df)

# 그룹화와 집계
grouped_data = df.groupby('Country')['Age'].mean()
print("\nGrouped and Aggregated Data:")
print(grouped_data)

Original DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris
3    David   28     Tokyo
4      Eva   35    Sydney

Ages:
0    25
1    30
2    22
3    28
4    35
Name: Age, dtype: int64

Young People:
      Name  Age      City
0    Alice   25  New York
2  Charlie   22     Paris
3    David   28     Tokyo

DataFrame with a New Column:
      Name  Age      City    Country
0    Alice   25  New York        USA
1      Bob   30    London         UK
2  Charlie   22     Paris     France
3    David   28     Tokyo      Japan
4      Eva   35    Sydney  Australia

Grouped and Aggregated Data:
Country
Australia    35.0
France       22.0
Japan        28.0
UK           30.0
USA          25.0
Name: Age, dtype: float64