<a href="https://colab.research.google.com/github/jongjong2323/colab01/blob/main/3/22_31p_~53p_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 123
#변수에 값을 대입한다

In [ ]:
a = 123 #정수형(int)
b = 123.456 #부동소수점형(float)
c = "hello world!" #문자형(str)
d = True #논리형(bool)
e = [1,2,3,] #리스트형(list)
#변수에 다양한 값을 대입한다

In [ ]:
 a = True; b = False;
 print(a+b)
 #변수에 bool값을 대입하고 연산을 실시한다

1

In [ ]:
1.5e6 #1.5x10의 6승 1500000
1.5e-6 #1.5x10의 -6승 0.0000015
#지수 표기로 부동소수점형의 값을 표시한다

1.5e-06

In [ ]:
a = 3; b=5 
c=a+b  #덧셈
print(c)
d=a<b #비교(a는 b보다 작은가)
print(d)
e= 3<4 and 4<5 #논리곱
print(e)
#변수로 다양한 연산을 실시한다

8
True
True

In [ ]:
a = [1,2,3,4,5] #리스트의 작성
b = a[3] #인덱스가 3인 요소를 흭득
print(b)
a.append(6) #끝에 요소를 추가
print(a)
a[2] = 99 #요소를 교체한다
print(a)
#변수로 다양한 연산을 실시한다

4
[1, 2, 3, 4, 5, 6]
[1, 2, 99, 4, 5, 6]

In [ ]:
a=(1,2,3,4,5) #튜플의 작성
b = a[2] #인덱스가 2인 요소를 취득
print(b)
#튜플의 작성과 요소의 취득

3

In [20]:
a = [1,2,3]  #리스트
a1,a2,a3 = a
print(a1,a2,a3)
b=(4,5,6) #튜플
b1,b2,b3 = b
print(b1,b2,b3)
#리스트, 튜플의 요소를 한번에 변수에 대입한다

1 2 3
4 5 6

In [21]:
a = {"Artificial":1,"Intelligence":2} #사전의 작성
print(a["Artificial"]) #"Artificial" 키를 가진 값을 취득
a["Intelligence"]= 7 #값의 교체
print(a)
a["ML"] = 3 #요소의 추가
print(a)
#사전의 사용 예

1
{'Artificial': 1, 'Intelligence': 7}
{'Artificial': 1, 'Intelligence': 7, 'ML': 3}

In [22]:
a = [1,1,2,3,4,4,5,5,5] #리스트
print(a)
b = set(a) #세트로 변환
print(b)
b.add(6) #값을 추가
print(b)
b.remove(3) #값을 삭제
print(b)
#세트의 기본적인 사용법의 예

[1, 1, 2, 3, 4, 4, 5, 5, 5]
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [23]:
a = 13
if a<12:
  print("Good morning!")
elif a<17:
  print("Good aftermoon!")
elif a<21:
  print("Good evening!")
else:
  print("Good night!")
#if문의 사용법의 예

Good aftermoon!

In [27]:
for a in [3,5,9,17]: #리스트를 사용한 for문
    print(a)
for a in range(5): #range를 사용한 for 문
    print(a)
    #for 문 사용법의 예

3
5
9
17
0
1
2
3
4

In [28]:
a = 0
while a<3: #a가3보다 작은 동안 반복 처리
    print(a)
    a +=1
   #while문 사용법의 예

0
1
2

In [29]:
a= [1,2,3,4,5,6,7]
b= [c*2+1 for c in a] #a의 요소를 2배하고 1을 더해 새로운 리스트를 만든다
print(b)
#내포 표기 사용법의 예

[3, 5, 7, 9, 11, 13, 15]

In [30]:
def add(a,b): #함수의 정의(add가 함수명)
    c = a+b
    return c
print(add(2,3))  #함수의 실행
#함수의 정의와 실행

5

In [31]:
def add(a,b=4): #두 번째 인수에 기본값을 설정
    c=a+b
    return c
print(add(3))  #두 번째 인수는 지정하지 않는다
#함수와 인수

7

In [32]:
def add(a,b,c):
    d = a+b+c
    print(d)
e=(2,4,6)
add(*e)   #여러개의 인수를 한번에 전달한다
#함수에 튜플형의 인수를 대입

12

In [33]:
a = 21 #전역 변수
def showNumbers():
  b=43      #지역 변수
  print(a,b)
showNumbers()
#전역 변수와 지역 변수의 범위

21 43